h1 {
    text-align: center;
    color: rgb(235, 178, 108);
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
}

button {
    color: white;
    background: rgb(235, 178, 108);
}

p {
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 178, 108);
    font-size: 50px;

}

.class1 {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 178, 108);
    font-size: 50px;

}


img {
    float: left;
    width: 33opx;
    height: 330px;
    border-radius: 20%;


}


.right {
    float: right;
    width: 330px;
    height: 330px;
    border-radius: 20%;
}

.link {

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 178, 108);
    font-size: 30px;
}